<html>
<head>
    <script>

function toggle(pin) {
    httpPutAsync(pin, "/", function(responseText) {
        for (var index in responseText) {
            var key = index; //This is the map's key.
            for (i = 0; i < responseText[key].length; i++) {
                var val = responseText[key]; //This is the value part for the map's key.
                document.getElementById('pin' + key).textContent = val;
            }
        }
    });
}

function httpPutAsync(pin, theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(JSON.parse(xmlHttp.responseText));
    }
    xmlHttp.open("PUT", theUrl, true); // true for asynchronous
    xmlHttp.send(pin);
    
}



    </script>
</head>
<body>
<h1>Screen Show Config</h1>
<table border="1" cellpadding="15px">
    <tr>
        <th>port</th>
        <th>startDelay</th>
        <th>folder</th>
        <th></th>
    </tr>
        <tr>
            <td>{{port}}</td>
            <td>{{startDelay}}</td>
            <td>{{folder}}</td>
            <td><input type="button" value="Update" onclick="xxx"/></td>
        </tr>
</table>


</body>
</html>
